$button-bg-color:lightgrey;
$button-border-color:transparent;
$button-border-width:1px;
$button-padding:10px;
$button-margin:10px;
$button-fg-color: black;
$button-size:fit-content;
$button-border-radius: 12.5%;

$fonts: "Inter", "Roboto";
$bg-color:white;
$fg-color:black;

$fieldset-border-size: 1px;
$fieldset-border-color: #ccc;
$fieldset-padding: auto;
$fieldset-margin: 10px;

$label-highlight-color: inherit;
$label-color: inherit;
$label-margin-bottom: 0px;